# Pinterest API Credentials
PINTEREST_ACCESS_TOKEN=your_pinterest_access_token_here
PINTEREST_BOARD_ID=your_pinterest_board_id_here

# Website URL
WEBSITE_URL=https://random-bible-verse-generator.info
BIBLE_VERSE_PAGE=https://random-bible-verse-generator.info/bible-verse-of-the-day.html

# Image Settings
IMAGE_WIDTH=1000
IMAGE_HEIGHT=1500

# Schedule (Cron format: minute hour day month weekday)
# Default: 8:00 AM US Eastern Time (12:00 UTC during EDT, 13:00 UTC during EST)
# Note: Server time is usually UTC, adjust accordingly
CRON_SCHEDULE=0 12 * * *


# Email Subscription Settings
RESEND_API_KEY=your_resend_api_key_here
EMAIL_FROM=Daily Verse <ladyiney25@gmail.com>
SUPPORT_EMAIL=ladyiney25@gmail.com
PORT=3000

# Creem Payment Integration
CREEM_API_KEY=your_creem_api_key_here
CREEM_WEBHOOK_SECRET=your_creem_webhook_secret_here
